html, body{
    height: 100%
  }

.row {
    justify-content: space-around;
  }

.jadwal {
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
.card {
    margin: 100px;
  }
  
.card-body {
    background-color: gray;
  }